<div class="portfolio-chapter">
  <md-card class="card-lg">
    <md-card-content>
      <h2>{{chapter.title}}</h2>
      <p class="md-body-1 description">{{chapter.text}}</p>
    </md-card-content>
  </md-card>

  <div class="portfolio-chapter-subchapter-materials" ng-show="chapter.materials.length">
    <!-- <h3 class="md-subhead">Kaasatud materialid</h3> -->

    <md-grid-list md-cols-xl="7" md-cols-gt-lg="6"  md-cols-gt-md="5" md-cols-md="4" md-cols-sm="4" md-cols-xs="2" md-gutter="10px" md-row-height="280px">
      <md-grid-tile data-ng-repeat="material in chapter.materials">
        <figure data-dop-material-box material="material"></figure>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <ul class="portfolio-chapter-subchapters">
    <li class="portfolio-chapter-subchapter" id="chapter-{{index}}-{{$index}}" data-ng-repeat="subchapter in chapter.subchapters">
      <md-card class="card-lg">
        <md-card-content>
          <h3>{{subchapter.title}}</h3>
          <p class="md-body-1 description">{{subchapter.text}}</p>
        </md-card-content>
      </md-card>

      <div class="portfolio-chapter-subchapter-materials" ng-show="subchapter.materials.length">
        <!-- <h3 class="md-subhead">Kaasatud materialid</h3> -->
        <md-grid-list md-cols-xl="7" md-cols-gt-lg="6"  md-cols-gt-md="5" md-cols-md="4" md-cols-sm="4" md-cols-xs="2" md-gutter="10px" md-row-height="280px">
          <md-grid-tile data-ng-repeat="material in subchapter.materials">
            <figure data-dop-material-box material="material"></figure>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </li>
  </ul>
</div>
